@font-face {
  font-family: "Starjedi";   /*Can be any text*/
  src: local("Starjedi"),
    url("./fonts/Starjedi.ttf") format("truetype");
}

.App {
  text-align: center;
  background-color: black;
  opacity: .80;
}

.bold {
  font-weight: bold;
}

button {
  margin-left: .5em;
  background-color: rgb(63, 63, 63);
  color: white;
}

button:hover {
  background-color: rgb(85, 85, 85);
  cursor: pointer;
}

.Header {
  margin-top: 3em;
  padding-top: 10px;
}

.Search, .Results {
  padding-bottom: 30px;
}

.Results {
  display: grid;
  grid-template-columns: auto;
}

p {
  grid-column-start: 2;
  justify-self: left;
}

h3, label {
  color: white;
}

input {
  background-color: black;
  color: white;
  border: 1px rgb(228, 225, 225) solid;
}

input:focus  {
  background-color: rgb(228, 225, 225);
  color: black;
}

p {
  color: white;
}

span {
  color: yellow;
}

.starwars-font {
  color: yellow;
  font-family: 'Starjedi';
}

footer {
  position: fixed;
  right: 20px;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
}
