body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./images/3d-hyperspace-background-with-warp-tunnel-effect.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: yellow;
}
